<!DOCTYPE html>
<html>
<head>
  <title>Kublog</title>
  <%= stylesheet_link_tag    "kublog/application" %>
  <%= javascript_include_tag "kublog/application" %>
  <%= csrf_meta_tags %>
</head>
<body id='kublog'>

<%= yield %>

</body>
</html>
