<p>
  <%= I18n.t('kublog.post_mailer.new_post.greetings') %> {{user}},
</p>

<div>
  <%= post.body %>
</div>

<p>
  <%= I18n.t('kublog.post_mailer.new_post.read_more') %>
</p>

<p>
  <a href='{{url}}'>{{url}}</a>
</p>